body{
	margin:0;
	padding:0;
}

.container{
	min-height:87vh;
}

header{
	height:80px;
	width:100%;
	border: 1px solid black;
	text-align: center;
}

.content>div{
	display:inline-block;
}

.left{
	vertical-align: top;
	width: 24%;
	min-height: 100%;
	border: 1px solid black;
	text-align: center;
}

.right{
	width: 75%;
	border: 1px solid black;
	text-align: center;
}

footer{
	text-align: center;
	border: 1px solid black;
	height:80px;
	width:100%;
	bottom: 0;
}